<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Descarga</title>
	</head>
	<body>
		<p>Lista para descargar archivos</p>
        <form action "/descargar" method="POST">
            <label for = "documentos">Selecciona un documento</label>
            <select id ="documentos" name ="documentos">
				<% for(let i=0 ; i<files.length ; i++){ %>
						<option value = "<%= files[i] %>"><%=  files[i] %></option>
					<%} %>

            </select>
            <input type = "submit" value="Descargar">
        </form>
        </body>
	</body>
</html>
