.root {
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
	font-weight: 600;
	border-radius: 5px;
	padding: 2rem;
}
.input {
	width: 60%;
	margin-bottom: 1rem;
}
.center {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.button {
	width: 60%;
}
