.box{
    display:flex;
    flex-direction: column;
    padding: 10px;
}

.item{
    display: flex;
    margin: 20px;

}

.title{
    font-size: large;
    font-weight: bold;
    color: #737BA1;
    margin-right: 10px;
}