
.builder {
    display: grid;
    gap: 0.5rem;
    grid-template-areas: "consulta tags  tags  tags tags tags"
                         "consulta resultados  resultados resultados resultados resultados";
}

.builder > :first-child {
    grid-area: consulta;
    margin-left: 1rem;
}

.builder > :nth-child(2) {
    grid-area: resultados;
    margin-left: 1rem;
    padding-left: 1rem;
    
}

.builder > :last-child {
    grid-area: tags;
    margin-left: 1rem;
    padding-left: 1rem;
}


.queryGroup {
    /* align-items: flex-start; */
    display: grid
}

.center {
    align-items: center;
}

.queryTags {
    /* display: flex; */
    gap: 1rem;  
}

