.query {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2rem;

    /* grid-template-columns: 1fr; */
}

.query > * {
    display: flex;
    justify-content: space-between;
}

.queryTagOperator {
    font-weight: bold;
}

.select > * {
    width: 100%;
}