.documentPreview {
	height: 100%;
	width: 100%;
}
.inside {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.tabPanel {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.iframe {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.info {
	border: 1px black solid;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

