// We bring all carbon themes
@use '@carbon/react';
@use '@carbon/colors' as *;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: $gray-20;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

