.root {
	padding: 2rem;
	display: flex;
	flex-direction: column;
}

.contentContainer {
	display: flex;
	height: 100%;
	gap: 1rem;

	flex: 1;
}

.contentContainer > * {
	flex: 1;
}

.path {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-bottom: 0.1rem;
}

.pathMain {
	color: rgb(94, 145, 241);
}

.folderTitle {
	margin-bottom: 2rem;
}
