

.container {
    margin:  5rem auto;
    max-width: 500px;
    transition: 10s;
}

.container > * {
    margin-bottom: 2rem;
}

.formContainer > * {
    margin-bottom: 2rem;
}

.notifications {
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0;
    margin: 1rem;
}