.centerTitle {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.table {
	max-width: 30%;
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	font-family: sans-serif;
	min-width: 400px;
	background: rgba(255, 255, 255, 0.4);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(11px);
	-webkit-backdrop-filter: blur(11px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.table thead tr {
	color: #ffffff;
	text-align: left;
}

.table th,
.table td {
	padding: 12px 15px;
}

.table tbody tr:nth-of-type(odd) {
	color: rgb(0, 0, 0);
}
.table tbody tr:nth-of-type(even) {
}

.table tbody tr.active-row {
	font-weight: bold;
	color: #000000;
}
